In [1]:
import pandas as pd

In [89]:
args = {"i_fname" : "~/Downloads/test.txt", "f_fname" : "~/Downloads/test2.txt", "header" : True, "i_m" : "0,1", "f_m" : "0,1", "f_cols" : "2"}

In [91]:
i_fname = sys.stdin if args['i_fname'] == "stdin" else args['i_fname']
header_row = 0 if args['header'] else None
#separator = args['sep']
separator = "\t"

i_file = pd.read_csv(i_fname, sep = separator, header = header_row)
f_file = pd.read_csv(args['f_fname'], sep = separator, header = header_row)

if ',' not in args['i_m']:
    i_m = [i_file.columns[int(args['i_m'])]]
    f_m = [f_file.columns[int(args['f_m'])]]
else:
    i_m = [i_file.columns[int(x)] for x in args['i_m'].split(',')]
    f_m = [f_file.columns[int(x)] for x in args['f_m'].split(',')]

f_cols = [f_file.columns[int(x)] for x in args['f_cols'].split(",")]

if len(args['cn']) > 0:
    colnames = args['cn'].split(',')
else:    
    colnames = f_cols

ValueError: invalid literal for int() with base 10: 'id'

In [76]:
i_file = pd.read_csv("~/Downloads/test.txt", sep = "\t", header = 0)
f_file = pd.read_csv("~/Downloads/test2.txt", sep = "\t", header = 0)
print(i_file)
print(f_file)

     id   v1   v2   v3
0    s1    1    2    3
1   s11   11   22   33
2  s111  111  222  333
     id    v1   b2   b3
0    s1     1    2    3
1  s111  1111  222  333

In [77]:
i_m = ['id', 'v1']
f_m = ['id', 'v1']

In [47]:
newcol = f_cols[0]
i_file = i_file.assign(**{newcol : i_file['id'].map(f_file.set_index('id2')[f_cols[0]])})

In [78]:
f_cols = ["b3"]

In [82]:
f_cols = [f_file.columns[int(x)] for x in "2".split(",")]

In [83]:
colnames = f_cols

In [87]:
f_file[f_m + f_cols]

     id    v1   b2
0    s1     1    2
1  s111  1111  222

In [85]:
i_file.merge(f_file[f_m + f_cols], how='left', left_on = i_m, right_on = f_m)

     id   v1   v2   v3   b2
0    s1    1    2    3  2.0
1   s11   11   22   33  NaN
2  s111  111  222  333  NaN